body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}

.main {
    font-family: 'Indie Flower', cursive;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
}


.box { 
    display: flex;
    width: 80%;
    height: 500px;
    max-width: 1024px;
    background-color: #ffffff;
}
  
@media (max-width: 600px
) {.box {width: 100%;
    flex-direction: column;}    
}
 

.box__column {
    height: 100%;
    flex-basis: 50%; 
}

.box__column--image {
    min-height: 240px;
    background-image: url('./photo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}  

.box__column--content{
display: flex;
padding: 20px;
box-sizing: border-box;
flex-direction: column;
align-items: center;
justify-content: center;
color: #006699
} 

.box__paragraph {
text-align: center;
}

.box__icons{
    font-size: 25px;
}

.box__icons .box__icon{
    margin: 7px;
}

 .box__button{
    background: none;
    border: 2px solid rgb(221, 210, 250);
    border-radius: 4px;
    padding: 5px    
 }

 .hover{
     transition: 0,7s ease-in-out;
     cursor: pointer;
 }

 .hover:hover{
     transform: scale(1.05);
 }
